<section class="block container about-block">
    <div class="grid grid--1x2">
        <form class="card contact-form">
            <h3 class="form__header">We Love to hear from you</h3>
            <input placeholder="Your name here" type="text" name="name" class="input">
            <input placeholder="Email here" type="email" name="email" class="input">
            <input placeholder="Telephone number here" type="tel" name="tel" class="input">
            <textarea class="input" name="" id="" cols="10" rows="10">Your message</textarea>
            <button class="btn btn--primary btn--block">Submit</button>
        </form>
        <div class="about-block__content">
            <h2 class="about-block__header">About Us</h2>
            <p class="about-block__tagline">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error modi quasi
                culpa esse quisquam alias nihil aut architecto repellendus veniam?</p>
            <div class="contact-info">
                <svg class="icon icon--small">
                    <use xlink:href="Icons/sprite.svg#email"></use>
                </svg>
                <p class="contact-info__tagline"><a href="mailto:umar@gmail.com">umarabanga78@gmail.com</a></p>
            </div>
            <div class="contact-info">
                <svg class="icon icon--small">
                    <use xlink:href="Icons/sprite.svg#phone"></use>
                </svg>
                <p class="contact-info__tagline"><a href="tel:0502803619">0502803619</a></p>
            </div>
            <div class="contact-info">
                <svg class="icon icon--small">
                    <use xlink:href="Icons/sprite.svg#location"></use>
                </svg>
                <p class="contact-info__tagline">Accra Madina</p>
            </div>
            <button class="btn btn--secondary">Reach Out</button>
        </div>
    </div>
</section>