<section class="block block--primary hero-block">
    <div class="grid grid--1x2 container">
        <div class="hero-block__content">
            <h1 class="hero-block__header">Best Network Marketing Team</h1>
            <p class="hero-block__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus autem
                ratione illo iure alias ad.</p>
            <button class="btn btn--light">Get Started</button>
        </div>
        <div class="card"><img src="Images/hero-image.jpg" alt="A man holding laptop" class="hero-block__image"></div>
    </div>
</section>