<section class="block showcase-block">
    <div class="container">
        <div class="block__heading">
            <h2 class="showcase-block__header">Our Testimonies</h2>
            <p class="showcase-block__tagline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum molestiae
                nisi voluptatum. Fugiat nihil itaque voluptatem ad, enim alias sapiente.</p>
        </div>
        <div class="grid grid--1x3 gallery-container">
            <div class="card gallery">
                <img src="Images/card-1.jpg" alt="Tema Event" class="gallery__image">
            </div>
            <div class="card gallery">
                <img src="Images/card-2.jpg" alt="Tema Event" class="gallery__image">
            </div>
            <div class="card gallery">
                <img src="Images/card-3.jpg" alt="Tema Event" class="gallery__image">
            </div>
        </div>
    </div>
</section>