<section class="block block--light steps-block">
    <div class="container">
        <div class="block__heading">
            <h2 class="steps-block__header">How We Work</h2>
            <p class="steps-block__tagline">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus,
                laboriosam debitis. Repudiandae excepturi ut et voluptatem voluptatum praesentium aspernatur dolorum?
            </p>
        </div>
        <div class="grid grid--1x4 steps-container">
            <div class="card step">
                <div class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/Icons/sprite.svg#email"></use>
                    </svg>
                </div>
                <h3 class="step__header">High Performance</h3>
                <p class="step__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, accusamus!</p>
            </div>
            <div class="card step">
                <div class="icon-container">
                    <svg class="icon">
                        <use xlink:href="Icons/sprite.svg#location"></use>
                    </svg>
                </div>
                <h3 class="step__header">Best Securities</h3>
                <p class="step__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, accusamus!</p>
            </div>
            <div class="card step">
                <div class="icon-container">
                    <svg class="icon">
                        <use xlink:href="Icons/sprite.svg#grow"></use>
                    </svg>
                </div>
                <h3 class="step__header">Easy Growth</h3>
                <p class="step__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, accusamus!</p>
            </div>
            <div class="card step">
                <div class="icon-container">
                    <svg class="icon">
                        <use xlink:href="Icons/sprite.svg#money"></use>
                    </svg>
                </div>
                <h3 class="step__header">Timely Payment</h3>
                <p class="step__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, accusamus!</p>
            </div>
        </div>
    </div>
</section>