<div class="grid grid--1x4 team-members-container">
    <div class="team-member">
        <div class="icon-container">
            <img class="team-member__image" src="Images/team-1.jpg" alt="Our CEO">
        </div>
        <div class="team-member__content">
            <h3 class="team-member__name">Mr Drew Jones</h3>
            <p class="team-member__tagline">Brand CEO</p>
        </div>
    </div>
    <div class="team-member">
        <div class="icon-container">
            <img class="team-member__image" src="Images/team-2.jpg" alt="Our CEO">
        </div>
        <div class="team-member__content">
            <h3 class="team-member__name">Mr John Anan</h3>
            <p class="team-member__tagline">Brand COO</p>
        </div>
    </div>
    <div class="team-member">
        <div class="icon-container">
            <img class="team-member__image" src="Images/team-3.jpg" alt="Our CEO">
        </div>
        <div class="team-member__content">
            <h3 class="team-member__name">Mrs Joana Kwami</h3>
            <p class="team-member__tagline">Snr Secretary</p>
        </div>
    </div>
    <div class="team-member">
        <div class="icon-container">
            <img class="team-member__image" src="Images/team-1.jpg" alt="Our CEO">
        </div>
        <div class="team-member__content">
            <h3 class="team-member__name">John Sarpong</h3>
            <p class="team-member__tagline">Brand Driver</p>
        </div>
    </div>
</div>